.emoji{
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    background-size: 100%;
}
.emoji-aini{background-image: url(d_aini.png);}
.emoji-aoteman{background-image: url(d_aoteman.png);}
.emoji-baibai{background-image: url(d_baibai.png);}
.emoji-beishang{background-image: url(d_beishang.png);}
.emoji-bishi{background-image: url(d_bishi.png);}
.emoji-bizui{background-image: url(d_bizui.png);}
.emoji-chanzui{background-image: url(d_chanzui.png);}
.emoji-chijing{background-image: url(d_chijing.png);}
.emoji-dahaqi{background-image: url(d_dahaqi.png);}
.emoji-dalian{background-image: url(d_dalian.png);}
.emoji-ding{background-image: url(d_ding.png);}
.emoji-doge{background-image: url(d_doge.png);}
.emoji-feizao{background-image: url(d_feizao.png);}
.emoji-ganmao{background-image: url(d_ganmao.png);}
.emoji-guzhang{background-image: url(d_guzhang.png);}
.emoji-haha{background-image: url(d_haha.png);}
.emoji-haixiu{background-image: url(d_haixiu.png);}
.emoji-han{background-image: url(d_han.png);}
.emoji-hehe{background-image: url(d_hehe.png);}
.emoji-heixian{background-image: url(d_heixian.png);}
.emoji-heng{background-image: url(d_heng.png);}
.emoji-huaxin{background-image: url(d_huaxin.png);}
.emoji-jiyan{background-image: url(d_jiyan.png);}
.emoji-keai{background-image: url(d_keai.png);}
.emoji-kelian{background-image: url(d_kelian.png);}
.emoji-ku{background-image: url(d_ku.png);}
.emoji-kun{background-image: url(d_kun.png);}
.emoji-landelini{background-image: url(d_landelini.png);}
.emoji-lei{background-image: url(d_lei.png);}
.emoji-madaochenggong{background-image: url(d_madaochenggong.png);}
.emoji-miao{background-image: url(d_miao.png);}
.emoji-nanhaier{background-image: url(d_nanhaier.png);}
.emoji-nu{background-image: url(d_nu.png);}
.emoji-numa{background-image: url(d_numa.png);}
.emoji-numa{background-image: url(d_numa.png);}
.emoji-qian{background-image: url(d_qian.png);}
.emoji-qinqin{background-image: url(d_qinqin.png);}
.emoji-shayan{background-image: url(d_shayan.png);}
.emoji-shengbing{background-image: url(d_shengbing.png);}
.emoji-shenshou{background-image: url(d_shenshou.png);}
.emoji-shiwang{background-image: url(d_shiwang.png);}
.emoji-shuai{background-image: url(d_shuai.png);}
.emoji-shuijiao{background-image: url(d_shuijiao.png);}
.emoji-sikao{background-image: url(d_sikao.png);}
.emoji-taikaixin{background-image: url(d_taikaixin.png);}
.emoji-touxiao{background-image: url(d_touxiao.png);}
.emoji-tu{background-image: url(d_tu.png);}
.emoji-tuzi{background-image: url(d_tuzi.png);}
.emoji-wabishi{background-image: url(d_wabishi.png);}
.emoji-weiqu{background-image: url(d_weiqu.png);}
.emoji-xiaoku{background-image: url(d_xiaoku.png);}
.emoji-xiongmao{background-image: url(d_xiongmao.png);}
.emoji-xixi{background-image: url(d_xixi.png);}
.emoji-xu{background-image: url(d_xu.png);}
.emoji-yinxian{background-image: url(d_yinxian.png);}
.emoji-yiwen{background-image: url(d_yiwen.png);}
.emoji-youhengheng{background-image: url(d_youhengheng.png);}
.emoji-yun{background-image: url(d_yun.png);}
.emoji-zhajipijiu{background-image: url(d_zhajipijiu.png);}
.emoji-zhuakuang{background-image: url(d_zhuakuang.png);}
.emoji-zhutou{background-image: url(d_zhutou.png);}
.emoji-zuiyou{background-image: url(d_zuiyou.png);}
.emoji-zuohengheng{background-image: url(d_zuohengheng.png);}
.emoji-geili{background-image: url(f_geili.png);}
.emoji-hufen{background-image: url(f_hufen.png);}
.emoji-jiong{background-image: url(f_jiong.png);}
.emoji-meng{background-image: url(f_meng.png);}
.emoji-shenma{background-image: url(f_shenma.png);}
.emoji-v5{background-image: url(f_v5.png);}
.emoji-xi{background-image: url(f_xi.png);}
.emoji-zhi{background-image: url(f_zhi.png);}
.emoji-buyao{background-image: url(h_buyao.png);}
.emoji-good{background-image: url(h_good.png);}
.emoji-haha{background-image: url(h_haha.png);}
.emoji-lai{background-image: url(h_lai.png);}
.emoji-ok{background-image: url(h_ok.png);}
.emoji-quantou{background-image: url(h_quantou.png);}
.emoji-ruo{background-image: url(h_ruo.png);}
.emoji-woshou{background-image: url(h_woshou.png);}
.emoji-ye{background-image: url(h_ye.png);}
.emoji-zan{background-image: url(h_zan.png);}
.emoji-zuoyi{background-image: url(h_zuoyi.png);}
.emoji-shangxin{background-image: url(l_shangxin.png);}
.emoji-xin{background-image: url(l_xin.png);}
.emoji-dangao{background-image: url(o_dangao.png);}
.emoji-feiji{background-image: url(o_feiji.png);}
.emoji-ganbei{background-image: url(o_ganbei.png);}
.emoji-huatong{background-image: url(o_huatong.png);}
.emoji-lazhu{background-image: url(o_lazhu.png);}
.emoji-liwu{background-image: url(o_liwu.png);}
.emoji-lvsidai{background-image: url(o_lvsidai.png);}
.emoji-weibo{background-image: url(o_weibo.png);}
.emoji-weiguan{background-image: url(o_weiguan.png);}
.emoji-yinyue{background-image: url(o_yinyue.png);}
.emoji-zhaoxiangji{background-image: url(o_zhaoxiangji.png);}
.emoji-zhong{background-image: url(o_zhong.png);}
.emoji-fuyun{background-image: url(w_fuyun.png);}
.emoji-shachenbao{background-image: url(w_shachenbao.png);}
.emoji-taiyang{background-image: url(w_taiyang.png);}
.emoji-weifeng{background-image: url(w_weifeng.png);}
.emoji-xianhua{background-image: url(w_xianhua.png);}
.emoji-xiayu{background-image: url(w_xiayu.png);}
.emoji-yueliang{background-image: url(w_yueliang.png);}